# ignore enviorment variable files
*.env

# ignore backend target folder and its content
backend/target
backend/target/*

# ignore .vscode folder and its content
.vscode
*.code-workspace

# google secrets
sheets_secrets.json



